@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@400;700&display=swap');
@import 'footer.css';
@import 'form.css';
:root{
    --colorOne:#FFBE55;
    --colorTwo:#0B4870;
    --colorThree:#E9F4FE;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu Mono', monospace;
}
body{
    background-image: url('../img/wave2.png');
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
}
/* Contact */
#contact{
    max-width: 100%;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap-reverse;
}
#contact__title{
    font-weight: 700;
    font-size: 2.5em;
}
picture{
    width: 30vw;
}
#contact__icon{
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}
